resources:
  repositories:
    - repository: myRepo
      type: github
      name: vamshii7/Kubernetes-Hands-On
      ref: main
      endpoint: github.com_vamshii7

trigger: none

variables:
  # set a sensible default image name; you can override in pipeline variables
  dockerRegistryServiceConnection: 'DockerHubConnection'
  dockerRepository: 'vamshii7/tictactoe'
  dockerfilePath: 'docker/Dockerfile'
  buildContext: 'docker/'
  imageTag: '$(Build.BuildId)'
  commitSha: $(Build.SourceVersion)

stages:
- stage: BuildAndPush
  displayName: Build and push Docker image to Docker Hub
  jobs:
  - job: Build
    displayName: Build & Push
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: myRepo
      displayName: 'Checkout code'

    - script: |
        echo "##[section]Image name: $(dockerRepository)"
        echo "##[section]Dockerfile: $(dockerfilePath)"
      displayName: 'Show build variables'

    # Docker build and push using Docker@2
    - task: Docker@2
      displayName: Build and push image (buildAndPush)
      inputs:
        command: buildAndPush
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(dockerRepository)
        dockerfile: $(dockerfilePath)
        buildContext: $(buildContext)
        tags: |
          $(imageTag)
          latest
          $(commitSha)

    - script: |
        echo "Image pushed: $(dockerRepository):$(imageTag) and $(dockerRepository):latest"
      displayName: 'Confirm push'